body,dl,dt,dd,ul,ol,li,a,i,img,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td{margin:0;padding:0;}
body{
	width:1423px;
}
a{
	text-align: center;
	text-decoration: none;
	color:gray;
}
li{
	list-style: none;
}
i{
	font-style:normal;
}
/*头部结构*/
#header{
	width:100%;
	height:197px;
	/*background:red;*/
	border-bottom:3px solid black;
}

#header .header_ad{
	width:100%;
	height:30px;
	background:#f6f6f8;
	border-bottom: 1px solid gray;
}

#header .header_ad .ad_left{
	margin-left: 118px;
	font-size:13px;
	float: left;
}
#header .header_ad .ad_left a{
	border-left: 1px solid gray;
	line-height: 30px;
	text-align: center;
	width: 100px;
	height:30px;
	float:left;
}
#header .header_ad .ad_left a:nth-of-type(1){
	color:gray;
	border-bottom:1px solid white;
}
#header .header_ad .ad_left a:nth-of-type(1):hover{
	color:red;
}
#header .header_ad .ad_left a:nth-of-type(2){
	color:white;
	background:#b90000;
}
#header .header_ad .ad_left .hide_out{
	float:left;
}
#header .header_ad .ad_left .hide_out a:nth-of-type(1){
	border-right: 1px solid gray;
	color:gray;
	background: url(../img/shoujiapp.png) no-repeat;
}
#header .header_ad .ad_left .hide_out a:nth-of-type(1):hover{
	color:red;
}
#header .header_ad .ad_left .hide_out:hover .hide{
	display:block;
}

#header .header_ad .ad_left{
	position:relative;
}
#header .header_ad .ad_left .hide{
	width:365px;
	height:167px;
	background:url(../img/app-rqcode.jpg) no-repeat;
	position:absolute;
	top:30px;
	left:202px;
	border:1px solid gray;
	display: none;
}
#header .header_ad .ad_left .hide .background a{
	width:116px;
	height:34px;
	border:0;
	background:white;
	position:relative;
}
#header .header_ad .ad_left .hide .background a:nth-of-type(1){
	top:21px;
	left:123px;
	opacity:0;
}
#header .header_ad .ad_left .hide .background a:nth-of-type(1):hover{
	opacity:0.1;
}
#header .header_ad .ad_left .hide .background a:nth-of-type(2){
	top:62px;
	left:7px;
	opacity:0;
}
#header .header_ad .ad_left .hide .background a:nth-of-type(2):hover{
	opacity:0.1;
}
#header .header_ad .ad_left .hide .background p{
	float: left;
	position: relative;
	top:85px;
	left:20px;
	font-size:19px;
}
#header .header_ad .ad_left .hide .background p b{
	margin:0 53px 0 3px;
}
#header .header_ad .ad_right{
	float:right;
	margin-right: 106px;
	font-size:13px;
}
#header .header_ad .ad_right li{
	color:gray;
	float: left;
	margin-left:12px;
	margin-right:12px;
	z-index:20;
}
#header .header_ad .ad_right li a{
	line-height: 30px;
}
#header .header_ad .ad_right li a:hover{
	color:red;
}
#header .header_ad .ad_right li:nth-of-type(1) a{
	color:red;
}
#header .header_ad .ad_right li:nth-of-type(2) a{
	color:red;
	margin-right:21px;
}
#header .header_ad .ad_right li:nth-of-type(n+3){
	margin-left:0;
	margin-right:0;
}
#header .header_ad .ad_right li:nth-of-type(n+3) a{
	padding: 0 13px;
	height:30px;
	display: block;
}
#header .header_ad .ad_right li:nth-of-type(3){
	position: relative;
}
#header .header_ad .ad_right li:nth-of-type(3) a:nth-of-type(1){
	background:url(../img/arraw.png) no-repeat;
	background-position-x:70px;
	padding:0 14px;
}
#header .header_ad .ad_right li:nth-of-type(3):hover a:nth-of-type(1){
	border-left:1px solid gray;
	border-right:1px solid gray;
	padding:0 13px;
	background:url(../img/arraw_white.png) no-repeat;
}
#header .header_ad .ad_right li:nth-of-type(3) a:nth-of-type(2){
	border:1px solid gray;
	border-top:1px solid white;
	position:absolute;
	display:none;
	top:30px;
}
#header .header_ad .ad_right li:nth-of-type(n+5){
	position:relative;
	font-size:12px;
}
#header .header_ad .ad_right li:nth-of-type(n+5)>a{
	background:url(../img/arraw_touming.png) no-repeat;
	background-position-x:42px;
	background-position-y:12px;
	padding:0 14px;
}
#header .header_ad .ad_right li:nth-of-type(5)>div{
	width:220px;
	height:80px;
	background:white;
	border:1px solid gray;
	border-top:0;
	position:absolute;
	right:0;
	top:31px;
	display:none;
}
#header .header_ad .ad_right li:nth-of-type(5):hover{
	background:white;
}
#header .header_ad .ad_right li:nth-of-type(5):hover>a{
	border-left:1px solid gray;
	border-right:1px solid gray;
	border-bottom:1px solid white;
	padding:0 13px;
	color:gray;
}
#header .header_ad .ad_right li:nth-of-type(5):hover>.gonggao{
	display: block;
}
#header .header_ad .ad_right li:nth-of-type(5) .gonggao a{
	float: left;
	padding:0;
	margin:7px 0 0 13px;
	height:17px;
	line-height:17px;
}
#header .header_ad .ad_right li:nth-of-type(5) .gonggao a:nth-of-type(1){
	color:red;
}

#header .header_ad .ad_right li:nth-of-type(6)>div{
	width:72px;
	height:63px;
	background:white;
	border:1px solid gray;
	position:absolute;
	right:0;
	border-top:0;
	top:31px;
	display:none;
}
#header .header_ad .ad_right li:nth-of-type(6):hover{
	background:white;
}
#header .header_ad .ad_right li:nth-of-type(6):hover>a{
	border-left:1px solid gray;
	border-right:1px solid gray;
	border-bottom:1px solid white;
	padding:0 13px;
	color:gray;
}
#header .header_ad .ad_right li:nth-of-type(6):hover>.gengduo{
	display: block;
}
#header .header_ad .ad_right li:nth-of-type(6) .gengduo a{
	float: left;
	padding:0;
	margin:9px 0 0 13px;
	height:16px;
	line-height:16px;
}


#header .header_content{
	height: 127px;
	/*background: blue;*/
}
#header .header_content .logo{
	float: left;
	margin-top:21px;
	margin-left:145px;
}
#header .header_content .search{
	width:530px;
	float: left;
	margin-top:44px;
	margin-left:135px;
}
#header .header_content .search #search{
	width:439px;
	height:29px;
	border:2px solid black;
	float: left;
}
#header .header_content .search #bt{
	width:83px;
	height:33px;
	background: black;
	float: left;
	color: white;
	line-height: 33px;
}
#header .header_content .search #bt .search_logo{
	background: url(../img/search.png) no-repeat;
	width:23px;
	height:20px;
	margin:5px;
	float: left;
}
#header .header_content .search #bt .search_text{
	width:40px;
	height:33px;
	float: left;
}
#header .header_content .search ul{
	height:14px;
	font-size:12px;
	color:gray;
	padding-top: 16px;
	float: left;
}
#header .header_content .search ul li{
	float:left;
}
#header .header_content .search ul li a{
	margin-left:3px;
}
#header .header_content .search ul li a:hover{
	color:red;
}
#header .header_content .search ul li:nth-of-type(n+1) a{
	margin-right:3px;
}
#header .header_content .search ul li:nth-of-type(1) a{
	color:red;
}
#header .header_content .search ul li:nth-of-type(3) a{
	color:red;
}
#header .header_content .search ul li:nth-of-type(9) a{
	color:red;
}

#header .header_content .shop_car{
	width:146px;
	float: left;
	margin-top:44px;
	margin-left: 214px;
	position:relative;
}
#header .header_content .shop_car .shop{
	width:134px;
	height:33px;
	color:black;
	line-height: 33px;
	border:1px solid gray;
	font-size:10px;
	background: url(../img/shop.png) no-repeat;
	float: left;
	padding-left: 10px;
}
#header .header_content .shop_car .shop i{
	color:red;
}
#header .header_content .shop_car .shop_text{
	color:red;
	font-size: 12px;
	float: left;
	margin:15px 0 0 6px;
}
#header .header_content .shop_car .hide_out>div{
	width:283px;
	height:56px;
	border:1px solid gray;
	background:white;
	font-size:12px;
	position:absolute;
	right:0;
	top:33px;
	text-align:center;
	line-height:56px;
	display:none;
}
#header .header_content .shop_car .hide_out:hover div{
	display:block;
}

#header .header_nav{
	width:100%;
	line-height:39px;
}
#header .header_nav .item{
	float:left;
	width:203px;
	height:39px;
	background:black;
	font-size:19px;
	text-align: center;
	color:white;
	line-height:39px;
	margin-left: 117px;
}
#header .header_nav .nav{
	float:left;
	font-size:19px;
	text-align: center;
	color:black;
}
#header .header_nav .nav li{
	float:left;
}
#header .header_nav .nav li a{
	padding:7px 14px;
	color:black;
}
#header .header_nav .nav li a:hover{
	color:red;
}
#header .header_nav .alone:hover{
	color:red;
}
#header .header_nav .nav li:nth-of-type(7) a{
	color:red;
}
#header .header_nav .alone{
	float:right;
	margin-right:124px;
	font-size:18px;
	color:black;
	padding:0 10px;
}

/*
 * 
 * 
 * body部分
 * 
 * */
#body{
	width:100%;
	/*background:blue;*/
}
#body .nav{
	width:1189px;
	height:482px;
	border:1px solid gray;
	border-top:0;
	margin:0 auto;
}
#body .nav .daogou{
	width:203px;
	height:100%;
	border-right:1px solid gray;
	float:left;
	background:red;
	font-size:12px;
}
#body .nav .daogou>ul{
	width:100%;
	height:68px;
	background:#f5f5f5;
	position:relative;
	border-bottom:1px solid black;
}
/*导航功能*/
#body .nav .daogou>ul:hover{
	background:#666666;
}
#body .nav .daogou>ul:hover .background{
	background-position-x:-52px;
}
#body .nav .daogou>ul:hover>li:nth-of-type(n-2){
	color:white;
}
#body .nav .daogou>ul:hover>li:nth-of-type(n-2) a{
	color:white;
}
#body .nav .daogou>ul>li:nth-of-type(n-2) a:hover{
	text-decoration: underline;
}
#body .nav .daogou>ul:hover .hide_out{
	display:block;
}
#body .nav .daogou>ul .hide_out .title:hover{
	margin-right:3px;
	cursor:pointer;
}
#body .nav .daogou>ul .hide_out li a:hover{
	color:red;
	text-decoration:none;
}
/*导航样式*/
.color_red{
	color:red;
}
#body .nav .daogou>ul .background{
	width:26px;
	height:26px;
	background:url(../img/indexnav2img_01.jpg);
	background-position-y:-26px;
	position:absolute;
	left:10px;
	top:10px;
}
#body .nav .daogou>ul>li{
	float:left;
    margin-left:36px;
    margin-top:13px;
}
#body .nav .daogou>ul>li:nth-of-type(1) a{
	color:black;
	font-weight:800;
}
#body .nav .daogou>ul>li:nth-of-type(2) a{
	margin-right:5px;
}
#body .nav .daogou>ul>.hide_out{
	width:148px;
	height:481px;
	background:white;
	position:absolute;
	left:204px;
	overflow:hidden;
	z-index:100;
	display:none;
}
#body .nav .daogou>ul>.hide_out .box{
	float:left;
	width:100%;
}
#body .nav .daogou>ul>.hide_out .title{
	width:123px;
	height:19px;
	background:#eeeeee;
	margin:10px auto;
	text-align:center;				
}
#body .nav .daogou>ul>.hide_out .title a{
	color:black;
	font-weight:800;
}
#body .nav .daogou>ul>.hide_out li{
	width:72px;
	height:20px;
	float:left;
}
#body .nav .daogou>ul>.hide_out li a{
	margin-left:16px;
}
#body .nav .daogou>ul:nth-of-type(2)>.hide_out{
	top:-69px;
}
#body .nav .daogou>ul:nth-of-type(3)>.hide_out{
	top:-138px;
}
#body .nav .daogou>ul:nth-of-type(4)>.hide_out{
	top:-207px;
}
#body .nav .daogou>ul:nth-of-type(5)>.hide_out{
	top:-276px;
}
#body .nav .daogou>ul:nth-of-type(6)>.hide_out{
	top:-345px;
}
#body .nav .daogou>ul:nth-of-type(2)>.background{
	background-position-y:-208px;
}
#body .nav .daogou>ul:nth-of-type(3)>.background{
	background-position-y:-182px;
}
#body .nav .daogou>ul:nth-of-type(4)>.background{
	background-position-y:-104px;
}
#body .nav .daogou>ul:nth-of-type(5)>.background{
	background-position-y:-156px;
}
#body .nav .daogou>ul:nth-of-type(6)>.background{
	background-position-y:-130px;
}
#body .nav .daogou>ul:nth-of-type(7)>.background{
	background-position-y:0;
}




/*轮播图*/
#body .nav .lunbotu{
	width:985px;
	height:100%;
	float:left;
	background:green;
	position:relative;
}
#body .nav .lunbotu ul:nth-of-type(1){
	width:100%;
	height:100%;
	overflow:hidden;
}
#body .nav .lunbotu ul:nth-of-type(1) a{
	float:left;
	width:100%;
	height:100%;
	display:none;
}
#body .nav .lunbotu ul:nth-of-type(1) a:nth-of-type(1){
	background:url(../img/index-lunbo1.jpg);
}
#body .nav .lunbotu ul:nth-of-type(1) a:nth-of-type(2){
	background:url(../img/index-lunbo2.jpg);
}
#body .nav .lunbotu ul:nth-of-type(1) a:nth-of-type(3){
	background:url(../img/index-lunbo3.jpg);
}
#body .nav .lunbotu ul:nth-of-type(1) a:nth-of-type(4){
	background:url(../img/index-lunbo4.jpg);
}
#body .nav .lunbotu ul:nth-of-type(1) a:nth-of-type(5){
	background:url(../img/index-lunbo5.jpg);
}
#body .nav .lunbotu ul:nth-of-type(1) a:nth-of-type(6){
	background:url(../img/index-lunbo6.jpg);
}
#body .nav .lunbotu ul:nth-of-type(2){
	height:20px;
	position:absolute;
	bottom:30px;
	right:45px;
}
#body .nav .lunbotu ul:nth-of-type(2) i{
	width:20px;
	height:20px;
	float:left;
	text-align: center;
	line-height:20px;
	margin-left:5px;
	border-radius:50%;
	background:black;
	color:white;
	cursor:pointer;
}

/**Hot**/
#body .Hot{
	width:1189px;
	height:606px;
	margin:0 auto;
}
#body .Hot .Hot_top{
	width:100%;
	height:27px;
	margin-top:58px;
	border-bottom:3px solid black;
}
#body .Hot .Hot_top i{
	float:left;
	font-size:16px;
	color:gray;
}
#body .Hot .Hot_top b{
	float:left;
	margin-left:13px;
	font-size:10px;
	color:gray;
	margin-top:3px;
	font-weight:500;
}
#body .Hot .Hot_top a{
	float:right;
	margin-right:13px;
	font-size:10px;
	color:#eeeee;
}
#body .Hot .Hot_mid{
	width:100%;
	height:347px;
	border-left:1px solid gray;
	border-right:1px solid gray;
	padding-bottom:39px;
}
#body .Hot .Hot_mid a{
	width:268px;
	height:320px;
	float:left;
	margin:25px 0 0 25px;
	background-size:100% 100%;
}
#body .Hot .Hot_mid a:nth-of-type(1){
	background:url(../img/HOT1.jpg);
}
#body .Hot .Hot_mid a:nth-of-type(2){
	background:url(../img/HOT2.jpg);
}
#body .Hot .Hot_mid a:nth-of-type(3){
	background:url(../img/HOT3.jpg);
}
#body .Hot .Hot_mid a:nth-of-type(4){
	background:url(../img/HOT4.jpg);
}

#body .Hot .Hot_bot{
	width:1189px;
	height:171px;
	border:1px solid gray;
	border-top:0;
	position:relative;
	/*background:green;*/
	
}
#body .Hot .Hot_bot .sbox{
	width:1100px;
	height:116px;
	background: red;
	position: absolute;
	border-bottom:0;
	left:45px;
	top:39px;
	overflow: hidden;
}
#body .Hot .Hot_bot .sbox .yidongtiao{
	width:3300px;
	height:116px;
	position:relative;
}
#body .Hot .Hot_bot .sbox .yidongtiao ul{
	width:1100px;
	height:116px;
	float: left;
}
#body .Hot .Hot_bot .sbox .yidongtiao ul a{
	width:110px;
	height:58px;
	float:left;
}
#body .Hot .Hot_bot .sbox .yidongtiao ul a img{
	width:110px;
	height:58px;
}
#body .Hot .Hot_bot .left{
	width:23px;
	height:58px;
	background: url(../img/left_ar.png);
	position:absolute;
	cursor:pointer;
	left:21px;
	top:68px;
}
#body .Hot .Hot_bot .right{
	width:23px;
	height:58px;
	background: url(../img/right_ar.png);
	position:absolute;
	cursor:pointer;
	right:21px;
	top:68px;
}


/***
 * 
 * cloth_arr
 * */
#body .cloth_arr{
	width:1189px;
	height:544px;
	margin:0 auto;
}
#body .cloth_arr .cloth_arr_top{
	width:100%;
	height:32px;
	margin-top:31px;
	border-bottom:3px solid black;
}
#body .cloth_arr .cloth_arr_top a:nth-of-type(1){
	float:left;
	color:black;
}
#body .cloth_arr .cloth_arr_top a:nth-of-type(1):hover>i{
	color:red;
}
#body .cloth_arr .cloth_arr_top i{
	float:left;
	font-size:19px;
	font-weight:800;
}
#body .cloth_arr .cloth_arr_top b{
	float:left;
	margin-left:8px;
	font-size:10px;
	margin-top:7px;
	font-weight:800;
}
#body .cloth_arr .cloth_arr_top a:nth-of-type(2){
	width:114px;
	height:32px;
	float:right;
	text-align: center;
	line-height:32px;
	font-size:14px;
	color:white;
	background:black;
}
#body .cloth_arr .cloth_arr_top a:nth-of-type(2):hover{
	color:red;
}
#body .cloth_arr .cloth_arr_bot{
	width:100%;
}
#body .cloth_arr .cloth_arr_bot .first{
	width:200px;
	height:436px;
	float:left;
	margin:23px 0 0 12px;
}
#body .cloth_arr .cloth_arr_bot .first .title{
	width:99px;
	height:70px;
	float:left;
	margin-left:1px;
	background:black;
	font-size:18px;
	line-height:70px;
	color:white;
	
}
#body .cloth_arr .cloth_arr_bot .first>a:nth-of-type(n+3){
	width:100px;
	height:73px;
	text-align: center;
	float:left;
}
#body .cloth_arr .cloth_arr_bot .first>a img{
	margin-top:15px;
}
#body .cloth_arr .cloth_arr_bot .second{
	width:360px;
	height:436px;
	float:left;
	margin:23px 0 0 13px;
	border:1px solid gray;
}
#body .cloth_arr .cloth_arr_bot .second a{
	width:360px;
	height:436px;
	display:block;
}
#body .cloth_arr .cloth_arr_bot .third{
	width:558px;
	height:436px;
	float:left;
	margin:23px 0 0 22px;
}
#body .cloth_arr .cloth_arr_bot .third>div{
	width:100%;
	height:217px;
	border-bottom:1px solid black;
}
#body .cloth_arr .cloth_arr_bot .third>div a{
	float:left;
}


















/***
 * 
 * 优购导购
 * */
#daogou{
	width:100%;
	height:509px;
	/*background:blue;*/
	border-bottom:1px solid gray;
}
#daogou .daogou_text{
	width:1184px;
	height:26px;
	margin:0 auto;
	padding-left:5px;
	border-bottom:3px solid black;
}
#daogou .lunbotu{
	width:1189px;
	height:265px;
	/*background:red;*/
	margin:0 auto;
	position:relative;
}
#daogou .lunbotu .box{
	width:1081px;
	height:245px;
	background:#e8e8e8;
	position:absolute;
	bottom:0;
	left:52px;
	overflow:hidden;
}
#daogou .lunbotu ul{
	width:88px;
	height:59px;
	background:white;
	border:1px solid #e8e8e8;
	text-align:center;
	float:left;
	position:relative;
}
#daogou .lunbotu ul a:hover{
	color:red;
}
#daogou .lunbotu ul>img{
	width:85px;
	height:40px;
	margin-left:1px;
	float:left;
	cursor:pointer;
}
#daogou .lunbotu ul>a{
	width:88px;
	height:19px;
	font-size:11px;
	line-height:19px;
	float:left;
}
#daogou .lunbotu .left{
	width:13px;
	height:21px;
	background:url(../img/left.png);
	position:absolute;
	left:12px;
	top:128px;
	cursor:pointer;
}
#daogou .lunbotu .right{
	width:13px;
	height:21px;
	background:url(../img/right.png);
	position:absolute;
	right:12px;
	top:128px;
	cursor:pointer;
}


#daogou .lianjie{
	width:1189px;
	height:215px;
	margin:0 auto;
}
#daogou .lianjie ul{
	width:518px;
	height:46px;
	border-bottom:1px dashed gray;
	float: left;
	margin-left:36px;
	margin-right:33px;
	font-size: 13px;
	line-height:49px;
}
#daogou .lianjie ul a:hover{
	color:red;
}
#daogou .lianjie ul b{
	float: left;
	margin-left:3px;
	margin-right:20px;
	color:black;
}
#daogou .lianjie ul b a{
	color:black;
}
#daogou .lianjie ul li{
	float: left;
	margin:0 10px;
	color:black;
}
#daogou .lianjie ul li a{
	color:black;
}
#daogou .lianjie ul div{
	float: right;
	margin-right:2px;
}


/***
 * 
 * 尾部结构
 * */
#footer{
	width:100%;
	height:326px;
	background:#f4f4f4;
	border-top:1px solid gray;
}
#footer .footer_top{
	width:1189px;
	height:48px;
	border:1px solid gray;
	margin:29px auto;
}
#footer .footer_top li{
	float: left;
	font-size:16px;
	color:#666666;
	line-height:48px;
	margin-left:108px;
}
#footer .footer_top li i{
	color:red;
}
#footer .footer_top li a{
	margin-left:12px;
}
#footer .footer_top li img{
	display: inline-block;
	float:left;
	margin-top:8px;
}

#footer .footer_body{
	height:150px;
}
#footer .footer_body>ul{
	float: left;
	height:22px;
	line-height:22px;
	width:150px;
	font-size:10px;
}
#footer .footer_body ul:nth-of-type(1){
	margin-left:117px;
}
#footer .footer_body ul div{
	color:black;
}
#footer .footer_body ul a{
	color:#666666;
}
#footer .footer_body ul:nth-last-of-type(1) li{
	color:#666666;
}
#footer .footer_body ul:nth-last-of-type(1) li i{
	color:red;
}
#footer .footer_body ul:nth-last-of-type(1) img{
	display: inline-block;
	float:left;
	margin-top:8px;
}
#footer .footer_body>img{
	display: inline-block;
	float:left;
	margin-left:43px;
}

#footer .footer_bottom{
	background:#eeeeee;
}
#footer .footer_bottom .bottom{
	background:black;
	height:103px;
	border-bottom:3px solid #1f1c09;
}
#footer .footer_bottom .bottom ul{
	display: inline-block;
	width:1423px;
	font-size:12px;
	color:white;
}
#footer .footer_bottom .bottom ul li{
	float: left;
	margin-top:7px;
	margin-bottom:2px;
	
}
#footer .footer_bottom .bottom ul li{
	margin-left:8px;
}
#footer .footer_bottom .bottom ul li:nth-of-type(1){
	margin-left:507px;
}
#footer .footer_bottom .bottom ul li a{
	margin-right:8px;
	color:white;
}
#footer .footer_bottom .bottom ul:nth-of-type(2) img{
	margin-left:132px;
	display: inline-block;
	float:left;
}
#footer .footer_bottom .bottom ul:nth-of-type(2) i:nth-of-type(1){
	margin-left:36px;
}
#footer .footer_bottom .bottom ul:nth-of-type(2) i:nth-of-type(2){
	margin-left:6px;
}

#footer .footer_bottom .bottom ul:nth-of-type(2) i:nth-of-type(2) a{
	color:white;
	padding-left:20px;
	background: url(../img/gongan.png) no-repeat;
}
#footer .footer_bottom .bottom ul:nth-of-type(2) div{
	width:590px;
	height:40px;
	float:right;
}
#footer .footer_bottom .bottom ul:nth-of-type(2) div a{
	width:108px;
	height:40px;
    float:left;
    margin-right:10px;
    margin-top:8px;
}
#footer .footer_bottom .bottom ul:nth-of-type(2) div a:nth-of-type(1){
	background:url(../img/sm_108x40.png);
}
#footer .footer_bottom .bottom ul:nth-of-type(2) div a:nth-of-type(2){
	background:url(../img/gs_108x40.png);
}
#footer .footer_bottom .bottom ul:nth-of-type(2) div a:nth-of-type(3){
	background:url(../img/jy_108x40.png);
}
#footer .footer_bottom .bottom ul:nth-of-type(2) div a:nth-of-type(4){
	background:url(../img/wj_108x40.png);
}


/**fix挂件**/
#fix{
	width:40px;
	height:342px;
	background:url(../img/1205.png);
	position:fixed;
	top:215px;
	right:34px;
}
#fix a{
	width:40px;
	height:38px;
	display:block;
}
