/*
 * 
 * 
 * body部分
 * 
 * */
#body{
	width:100%;
	/*background:blue;*/
}
#body .nav{
	width:1189px;
	height:482px;
	border:1px solid gray;
	border-top:0;
	margin:0 auto;
}
#body .nav .daogou{
	width:203px;
	height:100%;
	border-right:1px solid gray;
	float:left;
	/*background:red;*/
	font-size:12px;
}
#body .nav .daogou>ul{
	width:100%;
	height:68px;
	background:#f5f5f5;
	position:relative;
	border-bottom:1px solid black;
}
/*导航功能*/
#body .nav .daogou>ul:hover{
	background:#666666;
}
#body .nav .daogou>ul:hover .background{
	background-position-x:-52px;
}
#body .nav .daogou>ul:hover>li:nth-of-type(n-2){
	color:white;
}
#body .nav .daogou>ul:hover>li:nth-of-type(n-2) a{
	color:white;
}
#body .nav .daogou>ul>li:nth-of-type(n-2) a:hover{
	text-decoration: underline;
}
#body .nav .daogou>ul:hover .hide_out{
	display:block;
}
#body .nav .daogou>ul .hide_out .title:hover{
	margin-right:3px;
	cursor:pointer;
}
#body .nav .daogou>ul .hide_out li a:hover{
	color:red;
	text-decoration:none;
}
/*导航样式*/
.color_red{
	color:red;
}
#body .nav .daogou>ul .background{
	width:26px;
	height:26px;
	background:url(../img/indexnav2img_01.jpg);
	background-position-y:-26px;
	position:absolute;
	left:10px;
	top:10px;
}
#body .nav .daogou>ul>li{
	float:left;
    margin-left:36px;
    margin-top:13px;
}
#body .nav .daogou>ul>li:nth-of-type(1) a{
	color:black;
	font-weight:800;
}
#body .nav .daogou>ul>li:nth-of-type(2) a{
	margin-right:5px;
}
#body .nav .daogou>ul>.hide_out{
	width:148px;
	height:481px;
	background:white;
	position:absolute;
	left:204px;
	overflow:hidden;
	z-index:100;
	display:none;
}
#body .nav .daogou>ul>.hide_out .box{
	float:left;
	width:100%;
}
#body .nav .daogou>ul>.hide_out .title{
	width:123px;
	height:19px;
	background:#eeeeee;
	margin:10px auto;
	text-align:center;				
}
#body .nav .daogou>ul>.hide_out .title a{
	color:black;
	font-weight:800;
}
#body .nav .daogou>ul>.hide_out li{
	width:72px;
	height:20px;
	float:left;
}
#body .nav .daogou>ul>.hide_out li a{
	margin-left:16px;
}
#body .nav .daogou>ul:nth-of-type(2)>.hide_out{
	top:-69px;
}
#body .nav .daogou>ul:nth-of-type(3)>.hide_out{
	top:-138px;
}
#body .nav .daogou>ul:nth-of-type(4)>.hide_out{
	top:-207px;
}
#body .nav .daogou>ul:nth-of-type(5)>.hide_out{
	top:-276px;
}
#body .nav .daogou>ul:nth-of-type(6)>.hide_out{
	top:-345px;
}
#body .nav .daogou>ul:nth-of-type(2)>.background{
	background-position-y:-208px;
}
#body .nav .daogou>ul:nth-of-type(3)>.background{
	background-position-y:-182px;
}
#body .nav .daogou>ul:nth-of-type(4)>.background{
	background-position-y:-104px;
}
#body .nav .daogou>ul:nth-of-type(5)>.background{
	background-position-y:-156px;
}
#body .nav .daogou>ul:nth-of-type(6)>.background{
	background-position-y:-130px;
}
#body .nav .daogou>ul:nth-of-type(7)>.background{
	background-position-y:0;
}




/*轮播图*/
#body .nav .lunbotu{
	width:985px;
	height:100%;
	float:left;
	/*background:green;*/
	position:relative;
}
#body .nav .lunbotu ul:nth-of-type(1){
	width:100%;
	height:100%;
	overflow:hidden;
}
#body .nav .lunbotu ul:nth-of-type(1) a{
	float:left;
	width:100%;
	height:100%;
	display:none;
}
#body .nav .lunbotu ul:nth-of-type(1) a:nth-of-type(1){
	background:url(../img/index-lunbo1.jpg);
}
#body .nav .lunbotu ul:nth-of-type(1) a:nth-of-type(2){
	background:url(../img/index-lunbo2.jpg);
}
#body .nav .lunbotu ul:nth-of-type(1) a:nth-of-type(3){
	background:url(../img/index-lunbo3.jpg);
}
#body .nav .lunbotu ul:nth-of-type(1) a:nth-of-type(4){
	background:url(../img/index-lunbo4.jpg);
}
#body .nav .lunbotu ul:nth-of-type(1) a:nth-of-type(5){
	background:url(../img/index-lunbo5.jpg);
}
#body .nav .lunbotu ul:nth-of-type(1) a:nth-of-type(6){
	background:url(../img/index-lunbo6.jpg);
}
#body .nav .lunbotu ul:nth-of-type(2){
	height:20px;
	position:absolute;
	bottom:30px;
	right:45px;
}
#body .nav .lunbotu ul:nth-of-type(2) i{
	width:20px;
	height:20px;
	float:left;
	text-align: center;
	line-height:20px;
	margin-left:5px;
	border-radius:50%;
	background:black;
	color:white;
	cursor:pointer;
}

/**Hot**/
#body .Hot{
	width:1189px;
	height:606px;
	margin:0 auto;
}
#body .Hot .Hot_top{
	width:100%;
	height:27px;
	margin-top:58px;
	border-bottom:3px solid black;
}
#body .Hot .Hot_top i{
	float:left;
	font-size:16px;
	color:gray;
}
#body .Hot .Hot_top b{
	float:left;
	margin-left:13px;
	font-size:10px;
	color:gray;
	margin-top:3px;
	font-weight:500;
}
#body .Hot .Hot_top a{
	float:right;
	margin-right:13px;
	font-size:10px;
	color:#eeeee;
}
#body .Hot .Hot_mid{
	width:100%;
	height:347px;
	border-left:1px solid gray;
	border-right:1px solid gray;
	padding-bottom:39px;
}
#body .Hot .Hot_mid a{
	width:268px;
	height:320px;
	float:left;
	margin:25px 0 0 25px;
	background-size:100% 100%;
}
#body .Hot .Hot_mid a:nth-of-type(1){
	background:url(../img/HOT1.jpg);
}
#body .Hot .Hot_mid a:nth-of-type(2){
	background:url(../img/HOT2.jpg);
}
#body .Hot .Hot_mid a:nth-of-type(3){
	background:url(../img/HOT3.jpg);
}
#body .Hot .Hot_mid a:nth-of-type(4){
	background:url(../img/HOT4.jpg);
}

#body .Hot .Hot_bot{
	width:1189px;
	height:171px;
	border:1px solid gray;
	border-top:0;
	position:relative;
	/*background:green;*/
	
}
#body .Hot .Hot_bot .sbox{
	width:1100px;
	height:116px;
	background: red;
	position: absolute;
	border-bottom:0;
	left:45px;
	top:39px;
	overflow: hidden;
}
#body .Hot .Hot_bot .sbox .yidongtiao{
	width:3300px;
	height:116px;
	position:relative;
}
#body .Hot .Hot_bot .sbox .yidongtiao ul{
	width:1100px;
	height:116px;
	float: left;
}
#body .Hot .Hot_bot .sbox .yidongtiao ul a{
	width:110px;
	height:58px;
	float:left;
}
#body .Hot .Hot_bot .sbox .yidongtiao ul a img{
	width:110px;
	height:58px;
}
#body .Hot .Hot_bot .left{
	width:23px;
	height:58px;
	background: url(../img/left_ar.png);
	position:absolute;
	cursor:pointer;
	left:21px;
	top:68px;
}
#body .Hot .Hot_bot .right{
	width:23px;
	height:58px;
	background: url(../img/right_ar.png);
	position:absolute;
	cursor:pointer;
	right:21px;
	top:68px;
}


/***
 * 
 * cloth_arr
 * */
#body .cloth_arr{
	width:1189px;
	height:544px;
	margin:0 auto;
}
#body .cloth_arr .cloth_arr_top{
	width:100%;
	height:32px;
	margin-top:31px;
	border-bottom:3px solid black;
}
#body .cloth_arr .cloth_arr_top a:nth-of-type(1){
	float:left;
	color:black;
}
#body .cloth_arr .cloth_arr_top a:nth-of-type(1):hover>i{
	color:red;
}
#body .cloth_arr .cloth_arr_top i{
	float:left;
	font-size:19px;
	font-weight:800;
}
#body .cloth_arr .cloth_arr_top b{
	float:left;
	margin-left:8px;
	font-size:10px;
	margin-top:7px;
	font-weight:800;
}
#body .cloth_arr .cloth_arr_top a:nth-of-type(2){
	width:114px;
	height:32px;
	float:right;
	text-align: center;
	line-height:32px;
	font-size:14px;
	color:white;
	background:black;
}
#body .cloth_arr .cloth_arr_top a:nth-of-type(2):hover{
	color:red;
}
#body .cloth_arr .cloth_arr_bot{
	width:100%;
}
#body .cloth_arr .cloth_arr_bot .first{
	width:200px;
	height:436px;
	float:left;
	margin:23px 0 0 12px;
	background:url(../img/mid.png) no-repeat 100px 0;
}
#body .cloth_arr .cloth_arr_bot .first .title{
	width:99px;
	height:67px;
	float:left;
	margin-left:1px;
	background:black;
	font-size:18px;
	line-height:70px;
	color:white;
	
}
#body .cloth_arr .cloth_arr_bot .first>a:nth-of-type(n+3){
	width:100px;
	height:73px;
	text-align: center;
	float:left;
}
#body .cloth_arr .cloth_arr_bot .first>a img{
	margin-top:15px;
}
#body .cloth_arr .cloth_arr_bot .second{
	width:360px;
	height:436px;
	float:left;
	margin:23px 0 0 13px;
	border:1px solid gray;
}
#body .cloth_arr .cloth_arr_bot .second a{
	width:360px;
	height:436px;
	display:block;
}
#body .cloth_arr .cloth_arr_bot .third{
	width:558px;
	height:436px;
	float:left;
	margin:23px 0 0 22px;
}
#body .cloth_arr .cloth_arr_bot .third>div{
	width:100%;
	height:217px;
	border-bottom:1px solid black;
}
#body .cloth_arr .cloth_arr_bot .third>div a{
	float:left;
}

/***
 * 
 * 特卖专区
 * */
#body .sale{
	width:1189px;
	height:399px;
	margin:0 auto;
}
#body .sale .sale_top{
	width:100%;
	height:30px;
	line-height:30px;
	/*background: red;*/
	font-size:18px;
	color:gray;
	border-bottom:3px solid black;
}
#body .sale .sale_bot{
	width:1187px;
	height:365px;
	border-top:0;
	border:1px solid gray;
}
#body .sale .sale_bot>ul>li{
	width:200px;
	height:30px;
	padding:10px 0 0 14px;
	border-right:1px solid gray;
	border-bottom:1px solid gray;
	position:relative;
}
#body .sale .sale_bot>ul>li:hover div{
	display:block;
}
#body .sale .sale_bot>ul>li>a:nth-of-type(1){
	font-size: 14px;
}
#body .sale .sale_bot>ul>li>a:nth-of-type(2){
	width:15px;
	height:20px;
	font-size:20px;
	float:right;
	margin-right:15px;
	color:white;
}
#body .sale .sale_bot>ul>li>div{
	width:970px;
	height:365px;
	position:absolute;
	top:0;
	left:215px;
	display:none;
}
#body .sale .sale_bot>ul>li>div>i{
	width:232px;
	height:316px;
	float:left;
	margin:22px 0 0 8px;
}
#body .sale .sale_bot>ul>li>div>i>a:nth-of-type(1){
	width:230px;
	height:255px;
	display:block;
	border:1px solid gray;
	position:relative;
	z-index:20;
}
#body .sale .sale_bot>ul>li>div>i>a:nth-of-type(1)>img{
	width:225px;
	height:241px;
	display:block;
}
#body .sale .sale_bot>ul>li>div>i>a:nth-of-type(1)>p{
	width:225px;
	height:14px;
	text-align:left;
	font-size:12px;
	line-height:14px;
	color:white;
	background:pink;
	padding:2px 0 2px 5px;
	position:absolute;
	bottom:0;
}
#body .sale .sale_bot>ul>li>div>i>a:nth-of-type(2){
	width:230px;
	height:35px;
	display:inline-block;
	font-size:12px;
	text-align:left;
	color:black;
	margin-left:3px;
}
#body .sale .sale_bot>ul>li>div>i>a:nth-of-type(2):hover{
	color:red;
}
#body .sale .sale_bot>ul>li>div>i>b{
	color:red;
}
#body .sale .sale_bot>ul>li>div>i>span{
	color:gray;
	font-size:12px;
	text-decoration:line-through;
}

/**fix挂件**/
#fix{
	width:40px;
	height:342px;
	background:url(../img/1205.png);
	position:fixed;
	top:215px;
	right:34px;
}
#fix a{
	width:40px;
	height:38px;
	display:block;
}

/**广告app**/
#ad{
	width:100%;
	height:160px;
	background:black;
	opacity:0.8;
	position:fixed;
	bottom:0;
}
#ad>img:nth-of-type(2n+1){
	width:142px;
	height:142px;
	float:left;
	margin-top:9px;
}
#ad>img:nth-of-type(1){
	margin-left:179px;
}
#ad>img:nth-of-type(3){
	margin-left:75px;
}
#ad>img:nth-of-type(2n){
	float:left;
	margin-left:20px;
	margin-top:24px;
}
#ad>img:nth-of-type(2){
	width:359px;
	height:50px;
}
#ad>img:nth-of-type(4){
	width:270px;
	height:74px;
}
#ad>a{
	position:absolute;
}
#ad>a:nth-of-type(1){
	width:146px;
	height:40px;
	background:url(../img/app-btn.png);
	left:380px;
	top:96px;
}
#ad>a:nth-of-type(2){
	width:146px;
	height:40px;
	background:url(../img/app-btn.png);
	background-position-y:-97px;
	left:558px;
	top:96px;
}
#ad>a:nth-of-type(3){
	width:49px;
	height:40px;
	background:url(../img/new_close.png);
	background-size: 100% 100%;
	right:120px;
	top:-27px;
}