body,dl,dt,dd,ul,ol,li,a,i,img,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td{margin:0;padding:0;}
body{
	width:1440px;
}
a{
	text-align: center;
	text-decoration: none;
	color:gray;
}
li{
	list-style: none;
}
i{
	font-style:normal;
}
/*头部结构*/
#header{
	width:100%;
	height:31px;
	/*background:red;*/
}

#header .header_ad{
	width:100%;
	height:30px;
	background:#f6f6f8;
	border-bottom: 1px solid lightgray;
}

#header .header_ad .ad_left{
	margin-left: 225px;
	font-size:13px;
	float: left;
}
#header .header_ad .ad_left a{
	border-left: 1px solid lightgray;
	line-height: 29px;
	text-align: center;
	width: 100px;
	height:29px;
	float:left;
}
#header .header_ad .ad_left a:nth-of-type(1){
	color:gray;
	border-bottom:1px solid white;
}
#header .header_ad .ad_left a:nth-of-type(1):hover{
	color:red;
}
#header .header_ad .ad_left .hide_out{
	float:left;
}
#header .header_ad .ad_left .hide_out a:nth-of-type(1){
	border-right: 1px solid lightgray;
	color:gray;
	background: url(../img/shoujiapp.png) no-repeat;
}
#header .header_ad .ad_left .hide_out a:nth-of-type(1):hover{
	color:red;
}
#header .header_ad .ad_left .hide_out:hover .hide{
	display:block;
}

#header .header_ad .ad_left{
	position:relative;
}
#header .header_ad .ad_left .hide{
	width:260px;
	height:167px;
	background:url(../img/login/app-rqcode.jpg) no-repeat;
	position:absolute;
	top:30px;
	left:101px;
	overflow:hidden;
	border:1px solid lightgray;
	display: none;
}
#header .header_ad .ad_left .hide .background a{
	width:116px;
	height:34px;
	border:0;
	background:white;
	position:relative;
}
#header .header_ad .ad_left .hide .background a:nth-of-type(1){
	top:21px;
	left:123px;
	opacity:0;
}
#header .header_ad .ad_left .hide .background a:nth-of-type(1):hover{
	opacity:0.1;
}
#header .header_ad .ad_left .hide .background a:nth-of-type(2){
	top:62px;
	left:7px;
	opacity:0;
}
#header .header_ad .ad_left .hide .background a:nth-of-type(2):hover{
	opacity:0.1;
}
#header .header_ad .ad_left .hide .background p{
	float: left;
	position: relative;
	top:85px;
	left:20px;
	font-size:19px;
}
#header .header_ad .ad_left .hide .background p b{
	margin:0 53px 0 3px;
}
#header .header_ad .ad_right{
	float:right;
	margin-right:225px;
	font-size:13px;
}
#header .header_ad .ad_right li{
	color:gray;
	float: left;
	margin-left:12px;
	margin-right:12px;
	z-index:20;
}
#header .header_ad .ad_right li a{
	line-height: 30px;
}
#header .header_ad .ad_right li a:hover{
	color:red;
}
#header .header_ad .ad_right li:nth-of-type(1) a{
	color:red;
}
#header .header_ad .ad_right li:nth-of-type(2) a{
	color:red;
	margin-right:21px;
}
#header .header_ad .ad_right li:nth-of-type(n+3){
	margin-left:0;
	margin-right:0;
}
#header .header_ad .ad_right li:nth-of-type(n+3) a{
	padding: 0 13px;
	height:30px;
	display: block;
}
#header .header_ad .ad_right li:nth-of-type(3){
	position: relative;
}
#header .header_ad .ad_right li:nth-of-type(3) a:nth-of-type(1){
	background:url(../img/arraw.png) no-repeat;
	background-position-x:70px;
	padding:0 14px;
}
#header .header_ad .ad_right li:nth-of-type(3):hover a:nth-of-type(1){
	border-left:1px solid lightgray;
	border-right:1px solid lightgray;
	padding:0 13px;
	background:url(../img/arraw_white.png) no-repeat;
}
#header .header_ad .ad_right li:nth-of-type(3) a:nth-of-type(2){
	border:1px solid lightgray;
	border-top:1px solid white;
	position:absolute;
	display:none;
	top:30px;
}
#header .header_ad .ad_right li:nth-of-type(n+5){
	position:relative;
	font-size:12px;
}
#header .header_ad .ad_right li:nth-of-type(n+5)>a{
	background:url(../img/arraw_touming.png) no-repeat;
	background-position-x:42px;
	background-position-y:12px;
	padding:0 14px;
}
#header .header_ad .ad_right li:nth-of-type(5)>div{
	width:220px;
	height:80px;
	background:white;
	border:1px solid lightgray;
	border-top:0;
	position:absolute;
	right:0;
	top:31px;
	display:none;
}
#header .header_ad .ad_right li:nth-of-type(5):hover{
	background:white;
}
#header .header_ad .ad_right li:nth-of-type(5):hover>a{
	border-left:1px solid lightgray;
	border-right:1px solid lightgray;
	border-bottom:1px solid white;
	padding:0 13px;
	color:gray;
}
#header .header_ad .ad_right li:nth-of-type(5):hover>.gonggao{
	display: block;
}
#header .header_ad .ad_right li:nth-of-type(5) .gonggao a{
	float: left;
	padding:0;
	margin:7px 0 0 13px;
	height:17px;
	line-height:17px;
}
#header .header_ad .ad_right li:nth-of-type(5) .gonggao a:nth-of-type(1){
	color:red;
}

#header .header_ad .ad_right li:nth-of-type(6)>div{
	width:72px;
	height:63px;
	background:white;
	border:1px solid lightgray;
	position:absolute;
	right:0;
	border-top:0;
	top:31px;
	display:none;
}
#header .header_ad .ad_right li:nth-of-type(6):hover{
	background:white;
}
#header .header_ad .ad_right li:nth-of-type(6):hover>a{
	border-left:1px solid lightgray;
	border-right:1px solid lightgray;
	border-bottom:1px solid white;
	padding:0 13px;
	color:gray;
}
#header .header_ad .ad_right li:nth-of-type(6):hover>.gengduo{
	display: block;
}
#header .header_ad .ad_right li:nth-of-type(6) .gengduo a{
	float: left;
	padding:0;
	margin:9px 0 0 13px;
	height:16px;
	line-height:16px;
}

#nav{
	width:100%;
	height:71px;
}
#nav .logo{
	width:184px;
	height:51px;
	background:url(../img/login_logo.png);
	float:left;
	margin:10px 0 0 210px;
}
#nav i{
	width:144px;
	height:48px;
	float:left;
	font-size:18px;
	text-align: center;
	line-height:48px;
	border-left:1px solid lightgray;
	margin:10px 0 0 20px;
	color:gray;
}


/***
 * body身体
 */
#body{
	width:1440px;
	height:553px;
	background:url(../img/login/a8c6023508a242039dc31cd5be30cc44.jpg);
}


/***
 * footer
 */
#footer{
	width:100%;
	height:109px;
	text-align: center;
	font-size:11px;
}
#footer i{
	color:gray;
}
#footer a{
	color:gray;
	padding:0 10px;
}
#footer a:hover{
	color:red;
}
