/*****导购*****/

#header .header_nav .left_nav{
	width:205px;
	height:43px;
	float:left;
	position:relative;
	margin-left: 117px;
}
#header .header_nav .left_nav:hover .daogou{
	display:block;
}
#header .header_nav .left_nav .item{
	width:205px;
	margin:0;
}
#header .header_nav .left_nav .daogou{
	width:203px;
	height:483px;
	border-right:1px solid gray;
	border-left:1px solid gray;
	line-height: 16px;
	float:left;
	/*background:red;*/
	font-size:12px;
	z-index:101;
	top:42px;
	position: absolute;
	display:none;
}
#header .header_nav .left_nav .daogou>ul{
	width:100%;
	height:68px;
	background:#f5f5f5;
	position:relative;
	border-bottom:1px solid black;
}
/*导航功能*/
#header .header_nav .left_nav .daogou>ul:hover{
	background:#666666;
}
#header .header_nav .left_nav .daogou>ul:hover .background{
	background-position-x:-52px;
}
#header .header_nav .left_nav .daogou>ul:hover>li:nth-of-type(n-2){
	color:white;
}
#header .header_nav .left_nav .daogou>ul:hover>li:nth-of-type(n-2) a{
	color:white;
}
#header .header_nav .left_nav .daogou>ul>li:nth-of-type(n-2) a:hover{
	text-decoration: underline;
}
#header .header_nav .left_nav .daogou>ul:hover .hide_out{
	display:block;
	border:1px solid gray;
}
#header .header_nav .left_nav .daogou>ul .hide_out .title:hover{
	margin-right:3px;
	cursor:pointer;
}
#header .header_nav .left_nav .daogou>ul .hide_out li a:hover{
	color:red;
	text-decoration:none;
}
/*导航样式*/
.color_red{
	color:red;
}
#header .header_nav .left_nav .daogou>ul .background{
	width:26px;
	height:26px;
	background:url(../img/indexnav2img_01.jpg);
	background-position-y:-26px;
	position:absolute;
	left:10px;
	top:10px;
}
#header .header_nav .left_nav .daogou>ul>li{
	float:left;
    margin-left:36px;
    margin-top:13px;
}
#header .header_nav .left_nav .daogou>ul>li:nth-of-type(1) a{
	color:black;
	font-weight:800;
}
#header .header_nav .left_nav .daogou>ul>li:nth-of-type(2) a{
	margin-right:5px;
}
#header .header_nav .left_nav .daogou>ul>.hide_out{
	width:148px;
	height:481px;
	background:white;
	position:absolute;
	left:204px;
	overflow:hidden;
	z-index:102;
	display:none;
}
#header .header_nav .left_nav .daogou>ul>.hide_out .box{
	float:left;
	width:100%;
}
#header .header_nav .left_nav .daogou>ul>.hide_out .title{
	width:123px;
	height:19px;
	background:#eeeeee;
	margin:10px auto;
	text-align:center;				
}
#header .header_nav .left_nav .daogou>ul>.hide_out .title a{
	color:black;
	font-weight:800;
}
#header .header_nav .left_nav .daogou>ul>.hide_out li{
	width:72px;
	height:20px;
	float:left;
}
#header .header_nav .left_nav .daogou>ul>.hide_out li a{
	margin-left:16px;
}
#header .header_nav .left_nav .daogou>ul:nth-of-type(2)>.hide_out{
	top:-69px;
}
#header .header_nav .left_nav .daogou>ul:nth-of-type(3)>.hide_out{
	top:-138px;
}
#header .header_nav .left_nav .daogou>ul:nth-of-type(4)>.hide_out{
	top:-207px;
}
#header .header_nav .left_nav .daogou>ul:nth-of-type(5)>.hide_out{
	top:-276px;
}
#header .header_nav .left_nav .daogou>ul:nth-of-type(6)>.hide_out{
	top:-345px;
}
#header .header_nav .left_nav .daogou>ul:nth-of-type(2)>.background{
	background-position-y:-208px;
}
#header .header_nav .left_nav .daogou>ul:nth-of-type(3)>.background{
	background-position-y:-182px;
}
#header .header_nav .left_nav .daogou>ul:nth-of-type(4)>.background{
	background-position-y:-104px;
}
#header .header_nav .left_nav .daogou>ul:nth-of-type(5)>.background{
	background-position-y:-156px;
}
#header .header_nav .left_nav .daogou>ul:nth-of-type(6)>.background{
	background-position-y:-130px;
}
#header .header_nav .left_nav .daogou>ul:nth-of-type(7)>.background{
	background-position-y:0;
}


/*
 * nav
 */
#nav{
	width:1189px;
	height:280px;
	margin:36px auto 0;
	background:url(../img/sport/er_ji_ye_mian_-yun_dong__1.jpg);
}
#nav ul{
	float:left;
}
#nav ul .nav_top{
	width:297px;
	height:170px;
	cursor:pointer;
}
#nav ul .nav_bot{
	width:250px;
	height:105px;
	background:white;
	margin-left:35px;
}
#nav ul .nav_bot>a{
	width:55px;
	float:left;
	margin:5px 10px;
	font-size:10px;
}
#nav ul .nav_bot>i{
	float:left;
	color:lightgray;
}
#nav ul .nav_bot>a:hover{
	color:red;
}
#nav ul .nav_bot>i:nth-of-type(3n){
	display:none;
}
#nav ul:nth-of-type(2) .nav_bot>a:nth-of-type(1){
	color:red;
}
#nav ul:nth-of-type(2) .nav_bot>a:nth-of-type(3){
	color:red;
}

/***
 * body
 */
/**Hot**/
#body .Hot{
	width:1189px;
	height:223px;
	margin:0 auto;
}
#body .Hot .Hot_top{
	width:1191px;
	height:27px;
	margin-top:58px;
	border-bottom:3px solid black;
}
#body .Hot .Hot_top i{
	float:left;
	font-size:16px;
	color:black;
}
#body .Hot .Hot_top b{
	float:left;
	margin-left:13px;
	font-size:15px;
	color:gray;
	margin-top:3px;
	font-weight:500;
}
#body .Hot .Hot_top a{
	float:right;
	margin-right:13px;
	font-size:16px;
	color:#eeeee;
}
#body .Hot .Hot_mid{
	width:1129px;
	height:125px;
	border:1px solid gray;
	border-top:0;
	padding-left:60px;
	padding-top:10px;
	
}
#body .Hot .Hot_mid img{
	width:85px;
	height:40px;
	float: left;
	margin:8px 10px;
	cursor:pointer;
}

/***
 * 
 * 同类样式  人气新品
 * */
#body .sale{
	width:1189px;
	height:390px;
	margin:0 auto;
}
#body .sale .sale_top{
	width:100%;
	height:30px;
	line-height:30px;
	/*background: red;*/
	font-size:18px;
	color:gray;
	margin-top:30px;
	border-bottom:3px solid black;
}
#body .sale .sale_bot{
	width:1187px;
	height:359px;
	border-top:0;
	border:1px solid gray;
}
#body .sale .sale_bot>ul>li{
	width:136px;
	height:27px;
	padding-top:3px;
	text-align: center;
	border-right:1px solid gray;
	border-top:1px solid gray;
	float:left;
	position:relative;
	left:365px;
	top:-34px;
}
#body .sale .sale_bot>ul>li:nth-of-type(1){
	border-left:1px solid gray;
}
#body .sale .sale_bot>ul>li:hover div{
	display:block;
}
#body .sale .sale_bot>ul>li>a:nth-of-type(1){
	font-size: 14px;
}
#body .sale .sale_bot>ul>li>div{
	width:1189px;
	height:365px;
	position:absolute;
	left:-365px;
	top:34px;
	display:none;
}
#body .sale .sale_bot>ul>li>div>i{
	width:230px;
	height:316px;
	float:left;
	margin:22px 0 0 6px;
	text-align: left;
}
#body .sale .sale_bot>ul>li>div>i>a:nth-of-type(1){
	width:230px;
	height:255px;
	display:block;
	border:1px solid gray;
	position:relative;
	z-index:20;
}
#body .sale .sale_bot>ul>li>div>i>a:nth-of-type(1)>img{
	width:225px;
	height:241px;
	display:block;
}
#body .sale .sale_bot>ul>li>div>i>a:nth-of-type(1)>p{
	width:225px;
	height:14px;
	text-align:left;
	font-size:12px;
	line-height:14px;
	color:white;
	background:pink;
	padding:2px 0 2px 5px;
	position:absolute;
	bottom:0;
}
#body .sale .sale_bot>ul>li>div>i>a:nth-of-type(2){
	width:230px;
	height:20px;
	display:inline-block;
	font-size:12px;
	text-align:left;
	color:black;
	margin-left:3px;
}
#body .sale .sale_bot>ul>li>div>i>a:nth-of-type(2):hover{
	color:red;
}
#body .sale .sale_bot>ul>li>div>i>a:nth-of-type(2)>span{
	margin:0 10px;
}
#body .sale .sale_bot>ul>li>div>i>b{
	color:red;
}
#body .sale .sale_bot>ul>li>div>i>span{
	color:gray;
	font-size:12px;
	text-decoration:line-through;
}